/* img{
	display: block;
	margin: 0 auto;
	
} */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity:0;
	cursor: move;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #111;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

/* .toggler:checked + .hamburger>div{
	transform: rotate(100deg);
} */

/* .toggler:checked:hover + .hamburger>div{
	transform: rotate(100deg);
} */

/* .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
} */

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .3s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color:white;
	font-weight: 550;
	text-transform: uppercase;
	margin: .5rem;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}

/* .menu > div > div > ul > li > a:hover{
	color: #fff44f;
} */

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-10%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}



body{
	font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    background: black;
	color: white;
	
	/* justify-content: center; */
}

/* .container{
	position: relative;
	height: 100vh;
	width: 100vw;
	/* background: url("../img/bg.jpg") no-repeat; */
	/* background-size: cover;
	background-position: 50% 36%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
} */ 

/* .container:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:white;
} */

.content{
	/* position: relative; */
    max-width: 200px;
    padding: 3rem;
	z-index: 1;
	color: white;
	margin-left: 10%;
	
	
}

.content h2{
	color: white;
	font-family: "Dancing Script", cursive;
	font-size: 4.3rem;
	/* margin-bottom: 0.8rem; */
	justify-content: 50%;
	text-align: center;
	margin-left: 70%;
	margin-top: 40%;
	display: block;



}

.content p{
	color: white;
	font-size: 1.2rem;
	font-weight: 100;
}

.tab1{
	display: block;
}
.tab2{
	display: block;
}
.tab3{
	display: block;
}
.tab4{
	display: block;
}
